<files .htaccess>
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Deny from all
    </IfModule>
</files>

# Désactiver l’exploration des répertoires - iThemes Security > Réglages > Ajustements système > Exploration des répertoires
Options -Indexes